name: Deploy to Production

on:
  release:
    types:
      - released

concurrency:
  group: front-prod
  cancel-in-progress: true

jobs:
  deploy:
    name: Deploy to Production
    uses: ./.github/workflows/deploy.yml
    with:
      env: prod
      version-name: ${{ github.ref_name }}
      web-bucket: web-prd-rdi-mbta-0
      mobile-bucket: mobile-prd-rdi-mbta-0
    secrets: inherit
