name: Deploy to Development

on:
  workflow_dispatch:
  push:
    branches:
      - main

concurrency:
  group: front-dev
  cancel-in-progress: true

jobs:
  deploy:
    name: Deploy to Development
    uses: ./.github/workflows/deploy.yml
    with:
      env: dev
      version-name: ${{ github.ref_name }}
      web-bucket: web-dev-rdi-mbta-0
      mobile-bucket: mobile-dev-rdi-mbta-0
      web-cloudfront-distribution-id: E6VGJSHMYOCHP
      mobile-cloudfront-distribution-id: E1ZWNDGE0FKF05
    secrets: inherit
